editor editora editorb editorc translator annotator commentator introduction foreword afterword subtitle titleaddon maintitle mainsubtitle maintitleaddon language origlanguage volume part edition volumes series number note isbn eid chapter pages pagetotal addendum pubstate doi print eprintclass eprinttype url urldate required author title date publisher location book
